/* 공통 스타일 */
.login {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid gray;
}

input {
    padding: 10px;
    margin: 5px;
}
.mpbutton {
    width: 130px;
  height: 40px;
  padding: 10px 25px;
  margin: 10px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.dupcheck{
    display:flex;
    align-items:center;
    margin-left:70%;
}
/* 클래스에 따라 스타일 적용 */

/* 이건 중복확인 눌렀을때 중복이면 빨간표시.input-text.invalid {
  border: 2px solid red;
}*/
.input-text,
.input-password {
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}
.active-login-body {
    height: 100%;
    margin: 0;
    min-height: 100vh;
    overflow: auto;
    flex-direction: column;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(rgb(241, 241, 241) 90%, rgb(104, 103, 103));
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .active-login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(241, 241, 241) 90%, rgb(104, 103, 103));
    font-family: Arial, sans-serif;
  }
  